* {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1 {
    margin: 30px;
}
.wrap{
    margin: 10px 20px;
    padding: 10px;
    width: 520px;
    box-shadow: 0px 0px 0px 1px #ccc;
    overflow: hidden;
}
h2 {
    font-size: 24px;
    line-height: 1.3;
    padding-bottom: .4em;
}
p {
    font-size: 16px;
    line-height: 1.7;
}
.pic {
    padding-right: 10px;
}
.pic img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}



.sample2 .pic {
    width: 40px;
    box-sizing: border-box;
    float: left;
}
.sample2 .text {
    box-sizing: border-box;
    float: left;
    width: 460px;
}




.sample3 .pic {
    width: 40px;
    box-sizing: border-box;
    float: left;
}
.sample3 .text {
    box-sizing: border-box;
    margin-left: 40px;
}



.sample4 .pic {
    width: 40px;
    box-sizing: border-box;
    float: left;
}
.sample4 .text {
    box-sizing: border-box;
    overflow: hidden;
}



.sample5 {
    position: relative;
    height: 250px;
}
.sample5 .pic {
    width: 40px;
    position: absolute;
    box-sizing: border-box;
}
.sample5 .text {
    position: absolute;
    width: 460px;
    left: 40px;
    padding-left: 10px;
}






.sample6 h2 {
    padding-left: 40px;
    text-indent: -40px;
}

.sample6 img {
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.sample6 p {
    padding-left: 40px;
}